In [41]:
from pyspark.sql import SparkSession

In [42]:
spark = SparkSession \
                    .builder \
                    .master("local") \
                    .appName("FirstSparkApp") \
                    .getOrCreate()

In [43]:
spark

In [44]:
spark.sparkContext.getConf().getAll()

[('spark.master', 'local'),
 ('spark.driver.host', 'host.docker.internal'),
 ('spark.eventLog.enabled', 'true'),
 ('spark.app.name', 'FirstSparkApp'),
 ('spark.driver.port', '56060'),
 ('spark.app.id', 'local-1571573076419'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.eventLog.dir', 'file:/tmp/spark-events'),
 ('spark.ui.showConsoleProgress', 'true')]

In [34]:
flightData2015_sql = spark\
.read.csv(r"C:\Users\user\Desktop\MyGitHub\Spark-The-Definitive-Guide\data\flight-data\csv\2015-summary.csv",\
          header=True, inferSchema=True)

In [25]:
flightData2015_sql.createOrReplaceTempView("flight_data_2015")

In [26]:
sqlWay = spark.sql("""
SELECT DEST_COUNTRY_NAME, count(1)
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
""")

In [27]:
# dataFrameWay =  flightData2015_sql\
#                 .groupBy("DEST_COUNTRY_NAME")\
#                 .count()

In [28]:
sqlWay.show()

+--------------------+--------+
|   DEST_COUNTRY_NAME|count(1)|
+--------------------+--------+
|            Anguilla|       1|
|              Russia|       1|
|            Paraguay|       1|
|             Senegal|       1|
|              Sweden|       1|
|            Kiribati|       1|
|              Guyana|       1|
|         Philippines|       1|
|            Djibouti|       1|
|            Malaysia|       1|
|           Singapore|       1|
|                Fiji|       1|
|              Turkey|       1|
|                Iraq|       1|
|             Germany|       1|
|              Jordan|       1|
|               Palau|       1|
|Turks and Caicos ...|       1|
|              France|       1|
|              Greece|       1|
+--------------------+--------+
only showing top 20 rows

In [35]:
spark.stop()